<h1>You'll Be In MY Heart (Phil Collins)</h1>

<p>
    Come, stop your {{ req.query.verb }}, it will be all right
Just take my {{ req.query.bodyPart }}, hold it tight
I will {{ req.query.verb_1 }} you from all around you
I will be here don`t you {{ req.query.verb_2 }}

For one so {{ req.query.adjective_1 }}, you seem so {{ req.query.adjective_2 }}
My {{ req.query.bodyPart }} will hold you, keep you {{ req.query.adjective_3 }} and {{ req.query.adjective_4 }}
This {{ req.query.noun_1 }} between us can`t be broken
I will be here don`t you {{ req.query.verb_2 }}

And you`ll be in my {{ req.query.noun_2 }}
Yes, you`ll be in my {{ req.query.noun_2 }}
From this day on
Now and forever more
You`ll be in my {{ req.query.noun_2 }}
No matter what they say
You`ll be here in my {{ req.query.noun_2 }}
Always

Why can`t they {{ req.query.verb_3 }} the way we feel?
They just don`t trust, what they can`t {{ req.query.verb_4 }}
I know we`re {{ req.query.adjective_5 }} but, deep inside us
We`re not that {{ req.query.adjective_5 }} at all

And you`ll be in my {{ req.query.noun_2 }}
Yes, you`ll be in my {{ req.query.noun_2 }}
From this day on
Now and forever more
You`ll be in my {{ req.query.noun_2 }}
No matter what they say
You`ll be here in my {{ req.query.noun_2 }}
Always

Don`t {{ req.query.verb_5 }} to them, cause what do they {{ req.query.verb_6 }}?
We need each other, to have and to hold
They`ll see in a/an {{ req.query.timespan }}, I know

When {{ req.query.noun_3 }} calls you, you must be {{ req.query.adjective_5 }}
I may not be with you, but you gotta {{ req.query.verb_7 }} on
They`ll see in a/an {{ req.query.timespan }}, I know
We`ll show them together

Cause you`ll be in my {{ req.query.noun_2 }}
Yes, you`ll be in my {{ req.query.noun_2 }}
From this day on
Now and forever more
You`ll be in my {{ req.query.noun_2 }}
No matter what they say
You`ll be here in my {{ req.query.noun_2 }}
Always
</p>

{{!-- {{ req.query.verb }}
{{ req.query.bodypart }}
{{ req.query.verb_1 }}
{{ req.query.verb_2 }}
{{ req.query.adjective_1 }}
{{ req.query.adjective_2 }}
{{ req.query.bodypart }}
{{ req.query.adjective_3 }}
{{ req.query.adjective_4 }}
{{ req.query.noun_1 }}
{{ req.query.noun_2 }}
{{ req.query.verb_3 }}
{{ req.query.verb_4 }}
{{ req.query.adjective_5 }}
{{ req.query.verb_5 }}
{{ req.query.verb_6 }}
{{ req.query.timespan }}
{{ req.query.noun_3 }}
{{ req.query.adjective_5 }}
{{ req.query.verb_7 }} --}}